body {
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  color: $brand-dark-gray;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  overflow: auto;
}

.container {
  max-width: $container-width;
  margin: auto;
}

.page {
  display: flex;
  width: 100%;
  padding-top: $gutter;
}
// jesse @ eventbrite .com
.main {
  width: 40rem;
  padding: $gutter;
}
