.sidebar {
  flex: 1 0 20rem;
  min-width: 16rem;
  padding: $gutter;
}

.profile-pic {
  position: relative;
  width: 100%;
  border-radius: $brand-border-radius;
  overflow: hidden;

  &:before {
    display: block;
    padding-top: 100%;
    content: '';
  }
}

.profile-pic--image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.profile-title {
  margin: $gutter 0;
  font-weight: normal;
}

.creator-list {

  &__heading {
    margin: $gutter 0;
    border-bottom: $brand-border;
    font-family: $brand-font-special;
  }
}
