$brand-navy: #2c3e50;
$brand-white: #ecf0f1;
$brand-dark-gray: #3b3b3b;
$brand-font-reg: 'Maven Pro', sans-serif;
$brand-font-special: 'Special Elite', sans-serif;

$gutter: 1rem;
$container-width: 60rem;
$brand-modal-bg: rgba(0, 0, 0, 0.8);
$brand-border: 1px solid #000;
$brand-border-radius: 0.4rem;
